@model BusinessLayer.DTO.Account

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutstandingBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutstandingBalance)
        </dd>
    </dl>
</div>

<div>
    @Html.Partial("Transactions", @Model.Transactions)
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-controller="Persons" asp-action="Index">Back to List</a>
</div>
